.App {
  text-align: center;
  /* justify-content: center; */
}
nav {
  list-style: none;
  font-weight: bold;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  background-color: #f50057;
  height: 90px;
  font-size: 15px;
  text-decoration: none;
  text-emphasis-color: white;
}

.styleLink{
  color: white;
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 5%;
  margin-right: 10px;
  padding-right: 20px;
  font-size: 16px;
}

h1 {
  color: white;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
