 form {
  display: grid;
  font-size: 15px;
  text-decoration: solid; 
  text-align: left;
  font-weight: bolder;
  color: white;
} 

 #horizontal-list {
   display: flex;
   justify-content: space-around;
 }

 h3 {
  text-align: center;
  color: black;
}

label {
  color: black;
}

#date {
  width: 200px;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 30px;
  border: 2px solid #f50057;
} 
#button {
  width: 60px;
  float: right;
}
