form {
  display: grid;
  font-size: 15px;
  text-decoration: solid;
  text-align: left;
  font-weight: bolder;
  color: white;
}

h3 {
  text-align: center;
  color: #638C80;
  font-weight: bolder;
}

label {
  color: #638C80;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 50px;
  border: 2px solid #638C80;
}
