/* body {
  background-color: #F4F0D9;
} */

/* .MuiPaper-root {
  padding-top: 5rem;
} */

.MuiPaper-root.MuiCard-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
  margin-top: 5rem;
  /* flex-direction: row; */
  margin-left: 1.5vw;
  position: sticky;
  /* overflow-y: hidden;
  contain: content; */

}

.MuiCollapse-wrapperInner {
  height:25vh;
  overflow-y: scroll;
}

.MuiTypography-colorTextSecondary {
  color: rgb(255 255 255);
}

.Wellness-Card {
  height: 100vh;
 /* display: flex; */
 /* row-gap: 30px; */
  
}

.card-h4 {
  font-weight: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "COM4t Fine Regular", sans-serif;
}

/* @media screen and (min-width: 820px) {
  .App {
    display: flex;
  }
}  */
